body {
    background-color: #f8f9fa;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #089ab4;
    text-align: center;
    margin-bottom: 30px;
  }

  label {
    color: #089ab4;
    font-weight: 600;
  }

  .btn-primary {
    background-color: #089ab4;
    border-color: #089ab4;
  }

  .btn-primary:hover {
    background-color: #0c7183;
    border-color: #0c7183;
  }

  .btn-success {
    background-color: #17c671;
    border-color: #17c671;
  }

  .btn-success:hover {
    background-color: #13b15d;
    border-color: #13b15d;
  }