
{% extends 'tenassist/index_base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block breadcrumb %}
login
{% endblock %}

{% block middle %}
<div class="row justify-content-center w-full">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">
            <div class="card-body">
                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your email & password to login</p>
                </div>
                {% if revoke == "email" %}
                <form method="post" action="" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="yourUsername" class="form-label">Email</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="email" name="email" class="form-control" id="yourUsername"
                                   placeholder="please enter your email" required>
                            <div class="invalid-feedback">Your email is used to send a code.</div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100" name="email_field" type="submit">Submit</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">Don't have account? <a
                                href="{% url 'account:register-patient' 'index' %}">Create
                            an account</a></p>
                    </div>
                </form>
                {% elif revoke == "code" %}
                <form method="post" action="" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="yourUsername" class="form-label">Code</label>
                        <div class="input-group has-validation">
                            <input type="text" name="codechar" class="form-control" id="yourUsername"
                                   placeholder="Enter the code you received" required>
                            <div class="invalid-feedback">Check your email and finish the process.</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" name="code" type="submit">Revoke</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">Don't have account? <a
                                href="{% url 'account:register-patient' 'index' %}">Create
                            an account</a></p>
                    </div>
                </form>
                {% elif revoke == "password" %}
                <div class="">
                    <form method="post" action="{% url 'account:update_password_forgot' id reset_req %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-12 mb-3">
                                <input name="new_password" type="password" class="form-control"
                                       placeholder="New Password" minlength="4" required>
                            </div>

                            <div class="col-md-12 col-lg-12 mb-3">
                                <input name="renew_password" type="password" class="form-control"
                                       placeholder="Re-enter New Password" minlength="4" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" name="password_update" class="btn btn-primary">Change
                                Password
                            </button>
                        </div>
                    </form>

                </div>
                {% else %}
                <form method="post" action="" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="col-12">
                        <label for="yourName" class="form-label">Your Email</label>
                        <input type="email" name="email" class="form-control" id="yourName" required>
                        <div class="invalid-feedback">Please, enter your valid email!</div>
                    </div>

                    <div class="col-12">
                        <label for="yourPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="yourPassword" minlength="4" required>
                        <div class="invalid-feedback">Please enter your password and more than 4 chars!</div>
                    </div>
                    <div class="col-12">
                        <input class="form-check-input" name="is_doctor" type="checkbox" id="gridCheck1" value="True">
                        <label class="form-check-label" for="gridCheck1">
                            Login as a Doctor
                        </label>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0"><a href="{% url 'account:revoke-new-password' %}?revoke=true">I
                            forgot my password.</a>
                        </p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" name="login" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">Don't have account? <a
                                href="{% url 'account:register-patient' 'index' %}">Create
                            an account</a></p>
                        <span class="small mb-0"> <a
                                href="{% url 'account:home_page'%}">go back to home?</a></span>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    
  <style>
    ul {
      margin: 0px;
      padding: 0px;
  }
  .footer-section {
    background-image: linear-gradient(90deg, #020024 0%, #046272 35%, #152431 100%);
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #04A7C3;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #04A7C3;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #04A7C3;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: #04A7C3;
      padding: 13px 20px;
      border: 1px solid #04A7C3;
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #04A7C3;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #04A7C3;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  </style>
  
    <footer class="footer-section mt--5">
      <div class="container">
          <div class="footer-cta pt-5 pb-5">
              <div class="row">
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="cta-text">
                              <h4>Find us</h4>
                              <span>Jimma Ethiopia</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="fas fa-phone"></i>
                          <div class="cta-text">
                              <h4>Call us</h4>
                              <span>0949257378</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="far fa-envelope-open"></i>
                          <div class="cta-text">
                              <h4>Mail us</h4>
                              <span>mail@tenassist.et</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-content pt-5 pb-5 ">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                          <div class="footer-logo">
                              <a href="#"><img src="{% static 'land/assets/images/logo-full.svg' %}" class="img-fluid" alt="logo"></a>
                          </div>
                          <div class="footer-text">
                              <p>We're a team of developers and designers united by a passion for innovative solutions. 
                                We believe that security, functionality, and design go hand-in-hand.</p>
                          </div>
                          <div class="footer-social-icon">
                              <span>Follow us</span>
                              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Useful Links</h3>
                          </div>
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="https://ju.edu.et">Jimma University</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Health Minister</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">Better Help</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">Expert Team</a></li>
                              <li><a href="#">Contact us</a></li>
                              <li><a href="#">Latest News</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Subscribe</h3>
                          </div>
                          <div class="footer-text mb-25">
                              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                          </div>
                          <div class="subscribe-form">
                              <form action="#">
                                  <input type="text" placeholder="Email Address">
                                  <button><i class="fab fa-telegram-plane"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyright-area">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2024, All Right Reserved <a href="https://ab4io.vercel.app">ab4io</a></p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                      <div class="footer-menu">
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Terms</a></li>
                              <li><a href="#">Privacy</a></li>
                              <li><a href="#">Policy</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
{% endblock %}
