{% extends 'tenassist/main_base.html' %}

{% block title %}
Patient
{% endblock %}

{% block aside %}
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}?pages=book">
                <i class="bi bi-calendar-plus-fill"></i><span>Book</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}?pages=search">
                <i class="bi bi-search"></i><span>Search</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}?pages=write_feedback">
                <i class="bi bi-pencil-fill"></i><span>Write Feedback</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}?pages=medical_history">
                <i class="bi bi-heart"></i>
                <span>Medical History</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard:patient-dashboard' %}?pages=prescriptions">
                <i class="bi bi-file-medical"></i>
                <span>Prescription History</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:8000/recommend/interview0">
                <i class="bi bi-file-medical"></i>
                <span>Recommendation</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->
{% endblock %}

{% block middle_breadcrumb %}
patient
{% endblock %}

{% block active_breadcrumb %}
{% if page == None %}
dashboard
{% elif page == "update_user" %}
update account
{% elif page == 'profile' %}
profile
{% elif page == 'book' %}
book-appointment
{% elif page == 'search' %}
search for doctor
{% elif page == 'prescriptions' %}
    prescription-history
{% elif page|slice:":4" == 'chat' %}
    chatting
{% elif page == 'write_feedback' %}
    write_feedback
{% elif page == 'medical_history' %}
medical-history
{% endif %}
{% endblock %}

{% block middle %}
{% load static %}
{% if page == 'book' %}
<!-- Start book -->
<div class="row contact justify-content-center">
    <div class="col-xl-8">
        <p class="text-center card-title">book doctor here.</p>
        <div class="card p-4">
            <form class="row g-3" action="" method="get">
                <input type="hidden" name="pages" value="book">
                <div class="col-md-6">
                    <input type="email" name="doc_email" class="form-control"
                           value="{% if book_info.doc_email %}{{ book_info.doc_email }}{% endif %}" placeholder="Email">
                </div>
                <div class="col-md-4">
                    <input type="date" name="date" class="form-control" placeholder="date">
                </div>
                <div class="col-md-2">
                    <input type="submit" name="list_date" class="form-control btn btn-primary" value="Submit">
                </div>
            </form>
            <hr>
            <div class="row">
                <div class="">
                    <div class="row">
                        {% for date in book_info.dates %}
                        <div class="col col-xl-3 col-xl-4">
                            <div class="card-title">{{ date }}</div>
                            {% for schedule in book_info.schedules %}
                            {% if schedule.date == date %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a class="btn alert-info sm"
                                       href="{% url 'appointment:schedule' %}?doctor={{ book_info.doc_email }}&sch_id={{ schedule.id }}">
                                        {{ schedule.schedule }}
                                    </a>
                                </li>
                            </ul>
                            {% endif %}

                            {% endfor %}
                        </div>

                        {% empty %}
                        <div class="col">
                            <div class="btn sm">
                                No Schedule
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Book -->
{% elif page == 'search' %}
{% load mathfilters %}
<!-- Start of Search -->
<div class="row contact justify-content-center">
    <div class="col-xl-8">
        <p class="text-center small">Filter and search doctor here.</p>
        <div class="card p-4">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row gy-4">
                    <div class="col-md-3">
                        <label for="id_min">Min. Price</label>
                        <input type="number" class="form-control" name="min_price" id="id_min" placeholder="min price">
                    </div>

                    <div class="col-md-3 ">
                        <label for="id_max">Max. Price</label>
                        <input type="number" class="form-control" name="max_price" id="id_max" placeholder="max price">
                    </div>

                    <div class="col-md-3">
                        <label for="id_specialization">Specialization</label>
                        <select name="specialization" class="form-select" id="id_specialization">
                            <option value="" selected="">---------</option>
                            <option value="Dermatologist">Dermatologist</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Sexologist">Sexologist</option>
                            <option value="Dietitian/Nutritionist">Dietitian/Nutritionist</option>
                            <option value="General Physician">General Physician</option>
                            <option value="Orthopedist">Orthopedist</option>
                            <option value="Gynaecologist">Gynaecologist</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Psychologist">Psychologist</option>
                        </select>
                    </div>

                    <div class="col-md-3 text-center">
                        <label for="">.</label>
                        <input type="submit" class="btn btn-primary form-control" value="Filter" name="search">
                    </div>
                </div>
            </form>
            {% for doctor in doctors %}
                <div class="card mt-3">
                    <div class="row g-0">
                    <div class="col-md-3">
                        <img src="{{ doctor.photo.url }}" class="img-fluid rounded" alt="Doctor photo">
                    </div>
                    <div class="col-md-9 ps-3">
                        <h5 class="card-title">{{ doctor.first_name }} {{ doctor.last_name }}</h5>
                        <div class=""><i class="bi bi-emoji-heart-eyes-fill"></i> {{ doctor.specialization }} |
                            {{ doctor.experience }} Years Exp.
                        </div>
                        <div class=""><i class="bi bi-currency-dollar "></i> <span class="text-danger fw-bold">{{ doctor.fee }}</span>
                            Birr/Hr. online
                        </div>
                        <div class=""><i class="bi bi-envelope-fill"></i> {{ doctor.email }}</div>
                        <div class=""><i class="bi bi-calendar-day-fill me-1"></i> <a
                                href="?pages=book&doc_email={{ doctor.email }}&date=&list_date=Submit">See all
                            timings.</a></div>
                        <div class=""><i class="bi bi-award-fill"></i>
                            {{ doctor.doctor_rate.all.first.total_rate|floatformat:2 }} rates of 10
                        </div>

                        {% for doc in doctors %}
                        {% if doc.email == doctor.email %}
                          <div class="modal fade mt-5" id="modalDialogScrollable{{ doctor.id }}" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">View rate given by patients</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% for rate in doctor.doctor_rate.all %}
                                    <p class="float-end text-muted">{{ rate.date }}</p>

                                    <p>Rated by <b class="text-primary fw-bold fs-6 text-monospace"> {{ rate.patient.first_name|title }} </b>
                                        <br>{{ rate.rate }} Rates of 10 </p>
                                    <p>
                                        {{ rate.comment }}
                                    </p>
                                    <!--                        floating left showing date of rate-->
                                    <hr>

                                    {% empty %}
                                    <p class="text-center">No rate yet.</p>
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                          </div>

                          <button type="button" class="btn btn-primary m-2 text-center" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable{{ doctor.id }}">
                            View rate
                          </button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End of Search -->
{% elif page == 'write_feedback' %}
<!-- Start of feedback -->
<div class="row contact justify-content-center">
    <div class="col-xl-6">
        <h5 class="card-title text-center pb-0 fs-4">Please leave your feadback</h5>
        <p class="text-center small">Enter your email & subject to submit</p>
        <div class="card p-4">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row gy-4">

                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" value="{{user.first_name}}">
                    </div>

                    <div class="col-md-6 ">
                        <input type="email" class="form-control" name="email" value="{{user.email}}" required>
                    </div>

                    <div class="col-md-12">
                        <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>

                    <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                  required></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-primary" name="feedback" value="Send Feedback">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of feedback -->
{% elif page|slice:":4" == 'chat' %}
    {% if page == 'chatting' %}
        {% include 'chat/room.html' %}
    {% else %}
        {% include 'chat/index.html' %}
    {% endif %}
{% elif page == 'medical_history' %}
<!-- start of view Medical History -->
<!-- Train button start   -->
    {% if medical_histories %}
        <link rel="stylesheet" href="{% static 'land/assets/css/style.css' %}">
        <script src="{% static 'land/assets/js/script.js' %}"></script>
        <div id="chatIcon-2" class="chat-icon-2" title="Train Data">
            <img src="{% static 'land/assets/images/settings.png' %}" alt="Support Chat" class="icon">
        </div>
    {% endif %}

<div class="row">
    <div class="col-lg-9">
        <h5 class="card-title">Medical History</h5>

        {% for history in medical_histories %}
            <div class="card mb-3">
                <div class="card-body pt-3">
                    {{ history.history }}
                </div>
                <div class="card-footer">
                    <span style="float: right;margin-right: 20px;">By {{ history.doctor.first_name }} {{ history.doctor.last_name }} on {{ history.date }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- end view Medical History -->
{% elif page == 'prescriptions' %}
    {% if prescriptions %}
        <link rel="stylesheet" href="{% static 'land/assets/css/style.css' %}">
        <script src="{% static 'land/assets/js/script.js' %}"></script>
        <div id="chatIcon-2" class="chat-icon-2" title="Train Data">
            <img src="{% static 'land/assets/images/settings.png' %}" alt="Support Chat" class="icon">
        </div>
    {% endif %}
<div class="row">
    <div class="col-lg-9">
        <h5 class="card-title">Prescription History</h5>

        {% for prescription in prescriptions %}
            <div class="card mb-3">
                <div class="card-body pt-3">
                    {{ prescription.prescription }}
                </div>
                <div class="card-footer">
                    <span style="float: right;margin-right: 20px;">By {{ prescription.doctor.first_name }} {{ prescription.doctor.last_name }} on {{ prescription.date }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% elif page == 'profile' %}
    {% include 'tenassist/partials/profile.html' %}
{% else %}
{% load mathfilters %}
<!-- Start Data table -->
<div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog resizable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rate Doctor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" id="input_id" name="email" value="ayalkbettesfahun@gmail.com">
                        <label for="customRange2" class="form-label">Min and max with steps <span
                                class="badge bg-primary fs-6" id="rangeValue">5</span></label>
                        <input type="range" name="range" class="form-range" min="0" max="10" step="1"
                               id="customRange2">
                    </div>
                    <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave a comment here" name="comment"
                                          id="floatingTextarea"
                                          style="height: 100px;"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <input type="submit" value="Rate" name="rate_doctor" class="btn btn-primary float-end">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title pl-3">Book history.</h5>
                <table class="table datatable">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Dr. name</th>
                        <th scope="col">Dr. Email</th>
                        <th scope="col">Your Email</th>
                        <th scope="col">Time</th>
                        <th scope="col">ROOM_ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">Left Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for history in histories %}

                    <tr>
                        <th scope="row">{{ history.id }}</th>
                        <td>{{ history.doctor.first_name }} {{ history.doctor.last_name }}</td>
                        <td>{{ history.doctor.email }}</td>
                        <td>{{ history.patient.email }}</td>
                        <td>{{ history.schedule.schedule }}</td>
                        <td class="fw-bold">{{ history.room_id }}</td>
                        {% if history.get_status == 1 %}
                            <td><a href="" class="btn btn-sm btn-primary">Pending</a></td>
                        {% elif history.get_status == 0 and history.attendee %}
                            <td><a href="" class="btn btn-sm btn-success">Ongoing</a></td>
                        {% elif history.get_status == 0 or history.attendee %}
                            <td><a href="" class="btn btn-sm btn-success">Pending</a></td>
                        {% elif history.get_status == 2 %}
                            <td><a href="" class="btn btn-sm btn-info">Waiting</a></td>
                        {% else %}
                            <td><a href="" class="btn btn-sm btn-danger">Passed</a></td>
                        {% endif %}

                        {% if history.get_status == 0 and history.attendee %}
                        <td>
                            <button type="button" onclick="set_email({{ history.doctor.id }})" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#disablebackdrop">
                                Rate Doctor
                            </button>
                        </td>
                        {% elif history.get_status == 0 or history.attendee %}
                        <td><a href="{% url 'dashboard:patient-dashboard'%}?pages=chat&app_id={{ history.id }}&purpose=1" class="btn btn-sm btn-outline-info">CALL</a></td>
                        {% elif history.get_status == 1 %}
                        <td><a href="{% url 'dashboard:patient-dashboard'%}?pages=chat&app_id={{ history.id }}&purpose=1" class="btn btn-sm btn-outline-info">CALL</a></td>
                        {% elif history.get_status == 2 %}
                        <td> - </td>
                        {% else %}
                        <td>
                            <button type="button" onclick="set_email({{ history.doctor.id }})" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#disablebackdrop">
                                Rate Doctor
                            </button>
                        </td>
                        {% endif %}

                        <td>
                            {% with tm=history.left_time %}
                                {{tm.days}} Days, {{ tm.seconds|intdiv:3600 }} Hr, {{ tm.seconds|mod:3600|intdiv:60 }} Min
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            const rangeInput = document.getElementById("customRange2");
            const rangeValue = document.getElementById("rangeValue");
            rangeInput.addEventListener("input", updateRangeValue);
            function updateRangeValue() {
              rangeValue.textContent = rangeInput.value;
            }

            function set_email(id){
                const inp = document.getElementById("input_id");
                inp.setAttribute('value', id)
            }

            $('.modal-content').resizable({
                //alsoResize: ".modal-dialog",
                minHeight: 300,
                minWidth: 300
            });
            $('.modal-dialog').draggable();

            $('#myModal').on('show.bs.modal', function () {
                $(this).find('.modal-body').css({
                    'max-height':'100%'
                });
            });

        </script>
    </div>
</div>
<!-- End Data table -->
{% endif %}
{% endblock %}