<div class="row justify-content-center">
    <div class="col-lg-{% if page is None %}5{% else %}7{% endif%} col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">
            <div class="card-body">
                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                </div>

                <form action="{% if page == 'register_patient' %}{% url 'account:register-patient' 'patient' %}{% elif page == 'register_admin' %}{% url 'account:register-patient' 'admin' %}{% endif %}"
                      method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="{{ patient_form.first_name.auto_id }}" class="form-label">First Name</label>
                        {{ patient_form.first_name }}
                        <div class="invalid-feedback">Please, enter your First name!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.last_name.auto_id }}" class="form-label">Last Name</label>
                        {{ patient_form.last_name }}
                        <div class="invalid-feedback">Please, enter your Last name!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.email.auto_id }}" class="form-label">Your Email</label>
                        {{ patient_form.email }}
                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.phone.auto_id }}" class="form-label">Phone</label>
                        {{ patient_form.phone }}
                        <div class="invalid-feedback">Please, enter your Phone!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.address.auto_id }}" class="form-label">Your Address</label>
                        {{ patient_form.address }}
                        <div class="invalid-feedback">Please, enter your Address!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.date_of_birth.auto_id }}" class="form-label">Your Date of Birth</label>
                        {{ patient_form.date_of_birth }}
                        <div class="invalid-feedback">Please, enter your Date of Birth in placeholder format!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.password.auto_id }}" class="form-label">Your Password</label>
                        {{ patient_form.password }}
                        <div class="invalid-feedback">Please, enter your Password and more than 4 chars!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.photo.auto_id }}" class="form-label">Your Photo</label>
                        {{ patient_form.photo }}
                        <div class="invalid-feedback">Please, enter your Photo!</div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    {% if not page == 'register_patient' %}
                    <div class="col-12">
                        <p class="small mb-0">Already have an account? <a href="{% url 'account:login' %}">Log in</a></p>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>