{% extends '../base.html' %}
{% load static %}

{% block recommend_service %}
    <div class="container col-6 main my-5">
            <div id="waiting-text" style="display: none;">
                <p class="h2 p-5 text-center"></p>
            </div>
            <form method="post" action="cough_result">
                {% csrf_token %}

                <div id="about_cough">
                    <p class="h2 p-5 text-center">How would you describe your coughing?</p>
                    <div class="row d-flex justify-content-between">
                        <div class="col-3 md-3">
                            <button class="btn btn-success" value="dry" id="dry">Dry coughing</button>
                        </div>
                        <div class="col-3 md-3">
                            <button class="btn btn-success" value="up_sputum" id="up-sputum">Coughing up sputum</button>
                        </div>
                        <div class="col-6 md-3">
                            <button class="btn btn-success" value="loud_cry" id="loud-cry">Coughs followed by breath sound like loud cry</button>
                        </div>
                        <div class="col-3 md-3">
                            <button class="btn btn-success" type="submit" name="symptom" value="barking_cough" id="barking-cough">Barking cough</button>
                        </div>
                        <br><br>
                    </div>
                </div>

                <div id="fever" style="display: none;">
                    <div class="row justify-content-between">
                        <div class="col-8">
                            <p class="h2 p-5 text-center">Is your cough accompanied by a fever?</p>
                            <div class="row d-flex justify-content-between">
                                <div class="col-auto">
                                    <button class="btn btn-success" type="submit" name="symptom" value="fever_yes" id="fever_yes">Yes</button>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-success" type="submit" name="symptom" value="fever_no" id="fever_no">No</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="yyes_fever" style="display: none;">
                    <p class="h2 p-5 text-center">Select your fever level</p>
                    <div class="row d-flex justify-content-between">
                        <div class="col-auto">
                            <button class="btn btn-success">Low</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success">Medium</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success">High</button>
                        </div>
                    </div>
                </div>

                <div id="no-fever" style="display: none;">
                    <p class="h2 p-5 text-center">Is there stomach pain?</p>
                    <div class="row d-flex justify-content-between">
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit" name="symptom" value="yes_stomach_pain" id="stomach-pain-yes">Yes</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit" name="symptom" value="stomach_pain_no" id="stomach-pain-no">No</button>
                        </div>
                    </div>
                </div>

                <div id="yyes-stomach" style="display: none;">
                    <p class="h2 p-5 text-center">Is your stomach pain accompanied by vomiting?</p>
                    <div class="row d-flex justify-content-between">
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit" name="symptom" value="yes_vomiting" id="vomiting-yes">Yes</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit" name="symptom" value="vomiting_no" id="vomiting-no">No</button>
                        </div>
                    </div>
                </div>

                <div id="yyes-vomiting" style="display: none;">
                    <button id="sol" type="submit" name="symptom">Show your result</button>
                </div>

                <div id="no-vomiting" style="display: none;">
                    <button type="submit" name="symptom">Show your result</button>
                </div>
            </form>
        </div>
        <!-- main part -->
    <script>
            document.addEventListener("DOMContentLoaded", function() {
                const coughingButtons = document.querySelectorAll("#dry, #up-sputum, #loud-cry, #barking-cough");
                const feverYesButton = document.querySelector("#fever_yes");
                const feverNoButton = document.querySelector("#fever_no");
                const stomachPainYesButton = document.querySelector("#stomach-pain-yes");
                const stomachPainNoButton = document.querySelector("#stomach-pain-no");
                const feverButtons = document.querySelectorAll("#fever-high, #fever-low, #fever-medium");
                const vomitingYesButton = document.querySelector("#vomiting-yes");
                const vomitingNoButton = document.querySelector("#vomiting-no");
                const waitingText = document.querySelector("#waiting-text");

                function showWaitingText(message) {
                    const waitingTextMessage = document.querySelector("#waiting-text p");
                    waitingTextMessage.textContent = message;
                    waitingText.style.display = "block";
                }

                function hideWaitingText() {
                    waitingText.style.display = "none";
                }

                coughingButtons.forEach(function(button) {
                    button.addEventListener("click", function(event) {
                        event.preventDefault();
                        const coughSection = document.querySelector("#about_cough");
                        coughSection.style.display = "none";
                        showWaitingText("Please wait... Checking fever...");
                        setTimeout(function() {
                            hideWaitingText();
                            const feverSection = document.querySelector("#fever");
                            feverSection.style.display = "block";
                        }, 2000);
                    });
                });

                feverYesButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const feverSection = document.querySelector("#fever");
                    feverSection.style.display = "none";
                    showWaitingText("Please wait... Checking fever...");
                    setTimeout(function() {
                        hideWaitingText();
                        const yesFeverSection = document.querySelector("#yyes_fever");
                        yesFeverSection.style.display = "block";
                    }, 2000);
                });

                feverNoButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const feverSection = document.querySelector("#fever");
                    feverSection.style.display = "none";
                    showWaitingText("Please wait... Checking stomach pain...");
                    setTimeout(function() {
                        hideWaitingText();
                        const noFeverSection = document.querySelector("#no-fever");
                        noFeverSection.style.display = "block";
                    }, 2000);
                });

                stomachPainYesButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const noFeverSection = document.querySelector('#no-fever');
                    noFeverSection.style.display = "none";
                    showWaitingText("Please wait... Is there vomiting...");
                    setTimeout(function() {
                        hideWaitingText();
                        const yesStomachSection = document.querySelector("#yyes-stomach");
                        yesStomachSection.style.display = "block";
                    }, 2000);
                });

                feverButtons.forEach(function(button) {
                    button.addEventListener("click", function(event) {
                        event.preventDefault();
                        const feverSection = document.querySelector("#yyes_fever");
                        feverSection.style.display = "none";
                        showWaitingText("Please wait... Checking vomiting...");
                        setTimeout(function() {
                            hideWaitingText();
                            const stomachSection = document.querySelector("#yyes-stomach");
                            stomachSection.style.display = "block";
                        }, 2000);
                    });
                });

                vomitingYesButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const vomitingSection = document.querySelector("#yyes-stomach");
                    vomitingSection.style.display = "none";
                    showWaitingText("Please wait... Processing...");
                    setTimeout(function() {
                        hideWaitingText();
                        window.location.href = "{% url 'cough_result'%}";
                    }, 2000);
                });

                vomitingNoButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const vomitingSection = document.querySelector("#yyes-stomach");
                    vomitingSection.style.display = "none";
                    showWaitingText("Please wait... Processing...");
                    setTimeout(function() {
                        hideWaitingText();
                        const noVomitingSection = document.querySelector("#no-vomiting");
                        noVomitingSection.style.display = "block";
                    }, 2000);
                });
            });
        </script>
{% endblock %}
