{% load static %}
<html>
<head>
    <title>Payment Page</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="mb-4">Payment Page</h1>
                        <a href="{% url 'payment:home' %}" class="btn btn-primary mb-4">Home</a>
                        <form>
                            <p>Simple Payment with yenepay using Express</p>

                            <p>10.0 ETB</p>
                            <a href="{% url 'payment:express-payment' %}"  class="btn btn-primary  btn-lg  mb-4">Pay with express</a>

                            <a href="{% url 'payment:cart-payment' %}" class="btn btn-primary  btn-lg  mb-4">Pay with cart</a>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
