{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <title>Tenassist</title>

    <link href="{% static 'land/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'land/assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/style.css' %}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div id="chatIcon" class="chat-icon">
    <img src="{% static 'land/assets/images/chat.png' %}" alt="Support Chat" class="icon">

  </div>

  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="" class="logo" style="display: flex; align-items: center; justify-content: center;">
            
              <img src="{% static 'land/assets/images/logo1.svg' %}" alt="Chain App Dev">
              <h2 class="p-4" >Tenassist</h2>

            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <!-- *****  ***** -->
              <li><div ><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i>  SignUp</a></div></li> 
              <li><div ><a id="modal_trigger" href="{% url 'account:login'%}"><i class="fa fa-sign-in-alt "></i>  Login</a></div></li>
              
          
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Register</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">

            <div class="action_btns d-inline">
                <a href="{% url 'account:register-patient' 'index' %}" class="btn">Register(User)</a>
                <a href="{% url 'account:register-doctor' 'index' %}" class="btn">Register(Dr.)</a>
            </div>

    </section>
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12  text-dark">
                    <h1><bold class="text-primary">Healthcare</bold> to your fingertips, because health knows no distance.</h1> <br>
                    <p class="text-dark">Tenassist is merging telecommunication and AI, enhances healthcare with precise diagnostics and personalized treatment plans, prioritizing data security for cost-effective accessibility.</p>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="white-button first-button scroll-to-section">
                      <a href="recommend/interview0">Recommendation <i class="fab fa-star text-center"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'land/assets/images/selam-icon.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing <em>Services </em> for you</h4>
            <img src="{% static 'land/assets/images/heading-line-dec.png' %}" alt="">
            <p class="text-dark">
              Tenassit <a rel="nofollow" href="" target="_blank"></a> Tenassist combines
              telecommunication and AI to revolutionize healthcare. By leveraging AI-driven diagnostics, virtual assistants,
              and predictive analytics, the project enhances accessibility and treatment precision. It employs machine
              learning to facilitate seamless video streaming between doctors and patients, creating a more personalized
              healthcare experience. Additionally, the platform suggests nearby hospitals, further improving the overall
              healthcare ecosystem.
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Recommendation </h4>
            <p>Our platform uses AI to connect patients with specialized 
              doctors based on their symptoms.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Video &amp; Audio Chat</h4>
            <p>Our platform facilitates video and audio consultations between patients and doctors.</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Premium services</h4>
            <p>It leverages patient data for ongoing AI training, functioning as a dataset, 
              and includes a chatbot.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; consultations</h4>
            <p>We offer 24/7 support and services, allowing doctors to work remotely.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="{% static 'land/assets/images/heading-line-dec.png' %}" alt="">
            <p> Tenassist Telemedicine utilizes AI and telecommunication to enhance 
              healthcare in rural areas, providing personalized diagnostics, 
              virtual assistance, and recommendations for nearby hospitals.
             </p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Specialist Doctors </a></h4>
                <p>specialist doctors work remotely, efficiently scheduling 
                  appointments for affordable and accessible specialty care.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Administrator</a></h4>
                <p>overseeing legitimate doctors, managing patient services, 
                  and handling payments.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Developers </a></h4>
                <p>Oversee and regulate technical platform issues.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are consultatant</a></h4>
                <p>provide consultations, and recommend nearby hospitals..</p>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'land/assets/images/about-right-dec.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
         

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4> Specialist <em>Doctors</em></h4>
            <img src="{% static 'land/assets/images/heading-line-dec.png' %}" alt="">
            <p>In our telemedicine initiative, specialized doctors are seamlessly recommended to patients based on their entered symptoms, 
              ensuring tailored and efficient healthcare solutions.</p>
          </div>
        </div>
         
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            
            <h4>Neurologist</h4>
            <div class="">
              <img src="{% static 'land/assets/images/1.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Black Lion </li>
              <li>7 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label>
                
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
           
            </ul>
            <div class="border-button">
              <a href="#">Appointment</a>
            </div>
          </div>
        </div>
         
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            
            <h4>Neurologist</h4>
            <div class="">
              <img src="{% static 'land/assets/images/3.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Addis Ababa University </li>
              <li>5 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label>
                
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
            </ul>
            <div class="border-button">
              <a href="#">Appointment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
          
            <h4>orthodentist</h4>
            <div class="">
              <img src="{% static 'land/assets/images/2.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Poulos Hospital </li>
              <li>5 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label>
                
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
            </ul>
            <div class="border-button">
              <a href="#">Appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our Telemedice Service </h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Join Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Jimma, Ethiopia</p>
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">mail@tenassist.et</a></p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="https://a2sv.org/">A2SV</a></li>
              <li><a href="https://ethio-health.com/">EthioHealth</a></li>
              <li><a href="https://www.dst.gov.za/index.php/about-us/ministers-office">Health Minster</a></li>
              
            </ul>
            
          </div>
          
        </div>
        
        <div class="col-lg-3">
          <div class="footer-widget">
            
            <p>Privacy </p>
            <p>Security </p>
            
            
          </div>
          
        </div>

        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <div class="logo">
              <img src="{% static 'land/assets/images/logo1.svg' %}" alt="">
            </div>
            <p>The Tenassit project integrates advanced technologies, combining telecommunication with Artificial Intelligence (AI) to revolutionize healthcare. This initiative establishes a secure telecommunication infrastructure for real-time audio-video consultations.</p>
          </div>
        </div>  
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2024 Tele-Hakim Company. All Rights Reserved. 
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{% static 'land/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'land/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'land/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'land/assets/js/animation.js' %}"></script>
  <script src="{% static 'land/assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'land/assets/js/popup.js' %}"></script>
  <script src="{% static 'land/assets/js/custom.js' %}"></script>
  <script src="{% static 'land/assets/js/script.js' %}"></script>
</body>
</html>