{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <title>Tenassist</title>

    <link href="{% static 'land/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'land/assets/css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'land/assets/css/style.css' %}">
  </head>

<body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div id="chatIcon" class="chat-icon">
    <img src="{% static 'land/assets/images/chat.png' %}" alt="Support Chat" class="icon">
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->


  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="" class="logo" style="display: flex; align-items: center; justify-content: center;">
              <img src="{% static 'land/assets/images/logo-new.svg' %}" alt="logo" style="width: 60; height: 60;">
              <h2 class="p-4" >Tenassist</h2>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <!-- *****  ***** -->
              <li><div ><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i>  SignUp</a></div></li> 
              <li><div ><a id="modal_trigger" href="{% url 'account:login'%}"><i class="fa fa-sign-in-alt"></i> Login</a></div></li>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Register</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>
    <section class="popupBody">
            <div class="action_btns d-inline">
                <a href="{% url 'account:register-patient' 'index' %}" class="btn">Register(As a User)</a>
                <a href="{% url 'account:register-doctor' 'index' %}" class="btn">Register(As a Doctor)</a>
            </div>
    </section>
  </div>


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12  text-dark">
                    <h1>Better Health. Better Days. Better Lives.</h1> <br>
                    <p class="text-bold" class="text-dark">Tenassist is merging telecommunication and AI, enhances healthcare with precise diagnostics and personalized treatment plans, prioritizing data security for cost-effective accessibility.</p>
                  </div> 
                  <div class="col-lg-12 ">
                    <div class="white-button first-button scroll-to-section">
                      <a href="recommend/interview0">Recommendation <i class="fab fa-star text-center"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'land/assets/images/selam-icon.svg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="services" class="services section">
    
    <div class="container">
      <div class="row">
        <div class="p-4">
          <h1>Features</h1>
        </div>
        
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Recommendation </h4>
            <p>Our platform uses AI to connect patients with specialized 
              doctors based on their symptoms.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Audio and Video &amp; chat</h4>
            <p>Our platform facilitates video and audio consultations between patients and doctors.</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Live Patient Data</h4> <p>displayed to a doctor onlyPatients data will be displayed to a doctor only</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Live Patient Data</h4> <p>displayed to a doctor onlyPatients data will be displayed to a doctor only</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div id="services" class="services section">
    
    <div class="container">
      <div class="row">
        <div class="p-4">
          <h1 class="pt-4">Services</h1>
        </div>
        
        <div class="col-lg-4">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Tele Medicine </h4>
            <p>Our platform uses AI to connect patients with specialized 
              doctors based on their symptoms.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Audio and Video &amp; chat</h4>
            <p>Our platform facilitates video and audio consultations between patients and doctors.</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Live Patient Data</h4> <p>displayed to a doctor onlyPatients data will be displayed to a doctor only</p>
            <div class="text-button"><br>
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <section class="wrapper">
    <div class="container-fostrap">
        <div>
            <img src="https://4.bp.blogspot.com/-7OHSFmygfYQ/VtLSb1xe8kI/AAAAAAAABjI/FxaRp5xW2JQ/s320/logo.png" class="fostrap-logo"/>
            <h1 class="heading">
                About Us 
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> We are Specialist
                                  </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                                  </a>
                                </h4>
                                <p class="">
                                    Material Design is a visual programming language made by Google. Language programming...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                                  </a>
                                </h4>
                                <p class="">
                                    tutorials button hover animation, although very much a hover button is very beauti...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
    </style>
</section>




  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About Us</h4>
            <img src="{% static 'land/assets/images/heading-line-dec.png' %}" alt="">
            <p> Tenassist Telemedicine utilizes AI and telecommunication to enhance 
              healthcare in rural areas, providing personalized diagnostics, 
              virtual assistance, and recommendations for nearby hospitals.
             </p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Specialist Doctors </a></h4>
                <p>specialist doctors work remotely, efficiently scheduling 
                  appointments for affordable and accessible specialty care.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Administrator</a></h4>
                <p>overseeing legitimate doctors, managing patient services, 
                  and handling payments.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are Developers </a></h4>
                <p>Oversee and regulate technical platform issues.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">We are consultatant</a></h4>
                <p>provide consultations, and recommend nearby hospitals..</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <!--<img src="{% static 'land/assets/images/about-right-dec.png' %}" alt=""> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4> Specialist <em>Doctors</em></h4>
            <img src="{% static 'land/assets/images/heading-line-dec.png' %}" alt="">
            <p>In our telemedicine initiative, specialized doctors are seamlessly recommended to patients based on their entered symptoms, 
              ensuring tailored and efficient healthcare solutions.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <h4>Phsycologiest</h4>
            <div class="">
              <img src="{% static 'land/assets/images/jibril-adem.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Jimma University Specialized Hospital</li>
              <li>4 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label> 
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
            </ul>
            <div class="border-button">
              <a href="{% url 'account:register-patient' 'index' %}">Appointment</a>
            </div>
          </div>
        </div>
         

        <style>

        </style>

        <div class="col-lg-4">
          <div class="pricing-item-pro">
            
            <h4>Neurologist</h4>
            <div class="">
              <img src="{% static 'land/assets/images/Dinaol-Dinegde.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Jimma University Specialized Hospital</li>
              <li>5 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label>
                
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
            </ul>
            <div class="border-button">
              <a href="{% url 'account:register-patient' 'index' %}">Appointment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
          
            <h4>Orthodentist</h4>
            <div class="">
              <img src="{% static 'land/assets/images/selamawit-gashaw.png' %}" alt="">
            </div>
            <ul>
              <li>Working on Jimma University Specialized Hospital</li>
              <li>4 years of Exp</li>
              <li><a href="">See all timings.</a></li>
              <div class="rating">
                <input type="radio" name="rating" id="star5" class="d-none">
                <label for="star5">&#9733;</label>
                
                <input type="radio" name="rating" id="star4" class="d-none">
                <label for="star4">&#9733;</label>
                
                <input type="radio" name="rating" id="star3" class="d-none">
                <label for="star3">&#9733;</label>
                
                <input type="radio" name="rating" id="star2" class="d-none">
                <label for="star2">&#9733;</label>
                
                <input type="radio" name="rating" id="star1" class="d-none">
                <label for="star1">&#9733;</label>
              </div>
            </ul>
            <div class="border-button">
              <a href="{% url 'account:register-patient' 'index' %}">Appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 





  <footer id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Join our Telemedice Service </h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6 col-sm-6">
                <fieldset>
                  <button type="submit" class="main-button">Join Now <i class="fa fa-angle-right"></i></button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Us</h4>
            <p>Jimma, Ethiopia</p>
            <p><a href="#">010-020-0340</a></p>
            <p><a href="#">mail@tenassist.et</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="https://ethio-health.com/">EthioHealth</a></li>
              <li><a href="https://www.dst.gov.za/index.php/about-us/ministers-office">Health Minster</a></li>
              
            </ul>
            
          </div>
          
        </div>
        
        <div class="col-lg-3">
          <div class="footer-widget">
            <p>Privacy </p>
            <p>Security </p>
          </div>
          
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>About Us</h4>
            <div class="logo">
              <img src="{% static 'land/assets/images/logo-full.svg' %}" width="64" height="64" alt="">
            </div>
            <p>The Tenassist project integrates advanced technologies, combining telecommunication with Artificial Intelligence (AI) to revolutionize healthcare. This initiative establishes a secure telecommunication infrastructure for real-time audio-video consultations.</p>
          </div>
        </div>  
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2024 Tenassist Group. All Rights Reserved. 
          </div>
        </div>
      </div>
    </div>
  </footer>





  <!-- Scripts -->
  <script src="{% static 'land/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'land/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'land/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'land/assets/js/animation.js' %}"></script>
  <script src="{% static 'land/assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'land/assets/js/popup.js' %}"></script>
  <script src="{% static 'land/assets/js/custom.js' %}"></script>
  <script src="{% static 'land/assets/js/script.js' %}"></script>
</body>
</html>