{% extends './base.html' %}
{% load static %}

{% block recommend_service %}
    <style>
    #ageSlider {
        width: 100%;
        height: 5px;
        background-color: #f5b9b9;
        position: relative;
        cursor: pointer;
    }

    .ageSliderHandle {
        width: 30px;
        height: 30px;
        background-color: #29923a;
        border-radius: 50%;
        position: absolute;
        top: -12.5px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        user-select: none;
        /* Prevents dragging of text within the handle */
    }

    #ageValue {
        background-color: #29923a;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 50px;
    }
</style>
    <div class="container col-12 main my-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-6 main-text align-item-center">
                <h2 class="text-center pt-3">Please select your age</h2>
                <div class="py-5 justify-content-center">
                    <div id="ageSlider" onmousedown="startDrag(event)" onmousemove="drag(event)" onmouseup="endDrag(event)">

                        <div class="ageSliderHandle"></div>
                        <br><br>
                        <div class="text-center ">
                            <span id="ageValue">Age: 50</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
            <hr>
        </div>
        <br>
        <div class="row d-flex justify-content-center pr-5 ">
            <div class="col-6 ">
                <button id="previousButton" class="btn-1 btn-primary d-none">Prev</button>
            </div>
            <div class="col-6 ">
                <button id="nextButton" class="btn-1 btn-primary ">Next</button>
            </div>
        </div>
    </div>
    <script>
        var ageValue = 50;
        var ageSlider = document.getElementById('ageSlider');
        var ageSliderWidth = ageSlider.offsetWidth;
        var ageSliderHandle = ageSlider.querySelector('.ageSliderHandle');
        var ageValueContainer = document.getElementById('ageValue');
        var isDragging = false;

        function updateAgeValue(event) {
            var position = event.clientX - ageSlider.getBoundingClientRect().left;
            var percentage = (position / ageSliderWidth) * 100;
            var value = Math.round((percentage / 100) * 100); // Adjusted age range to 0-100

            ageValue = value;
            ageValueContainer.innerText = 'Age: ' + ageValue;

            var handleLeft = Math.min(Math.max(position, 15), ageSliderWidth - 15); // Limit handle movement within slider width
            ageSliderHandle.style.left = handleLeft + 'px';

            if (ageValue >= 18) {
                document.getElementById('nextButton').disabled = false;
            } else {
                document.getElementById('nextButton').disabled = true;
            }
        }

        function startDrag(event) {
            isDragging = true;
            updateAgeValue(event);
        }

        function drag(event) {
            if (isDragging) {
                updateAgeValue(event);
            }
        }

        function endDrag(event) {
            isDragging = false;
            updateAgeValue(event);
        }

        var previousButton = document.getElementById('previousButton');
        previousButton.addEventListener('click', function() {
            window.location.href = "{% url 'interview2' %}";
        });

        var nextButton = document.getElementById('nextButton');
        nextButton.addEventListener('click', function() {
            window.location.href = "{% url 'interview4' %}?age=" + ageValue;
        });
    </script>
{% endblock %}
