{% load static %}
<main>
    <style>
    #video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172, 1);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
}
    </style>
    <section id="room-name-wrapper">
        <p >Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams">
        <div class="video-container" id="user-container-1"> 
            <div class="video-player" id="user-1"></div>
        </div>
    </section>
    <section id="controls-wrapper">
            <div class="icon-wrapper">
                <img class="control-icon" id="mic-btn" src="{% static 'images/mic.svg' %}" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
            </div>

            <div class="icon-wrapper">
                <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg'%}" />
            </div>
        </section>
</main>
<script src="{% static 'js/AgoraRTC_N-4.14.0.js' %}"></script>
<script src="{% static 'js/streams.js' %}"></script>
