{% load static %}
<div class="row justify-content-center">
    <div class="col-lg-{% if page is None %}5{% else %}7{% endif%} col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">
            <div class="card-body">
                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                </div>

                <form action="{% if page == 'register_patient' %}{% url 'account:register-patient' 'patient' %}{% elif page == 'register_admin' %}{% url 'account:register-patient' 'admin' %}{% endif %}"
                      method="post" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="{{ patient_form.first_name.auto_id }}" class="form-label">First Name</label>
                        {{ patient_form.first_name }}
                        <div class="invalid-feedback">Please, enter your First name!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.last_name.auto_id }}" class="form-label">Last Name</label>
                        {{ patient_form.last_name }}
                        <div class="invalid-feedback">Please, enter your Last name!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.email.auto_id }}" class="form-label">Your Email</label>
                        {{ patient_form.email }}
                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.phone.auto_id }}" class="form-label">Phone</label>
                        {{ patient_form.phone }}
                        <div class="invalid-feedback">Please, enter your Phone!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.address.auto_id }}" class="form-label">Your Address</label>
                        {{ patient_form.address }}
                        <div class="invalid-feedback">Please, enter your Address!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ patient_form.date_of_birth.auto_id }}" class="form-label">Your Date of Birth</label>
                        {{ patient_form.date_of_birth }}
                        <div class="invalid-feedback">Please, enter your Date of Birth in placeholder format!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.password.auto_id }}" class="form-label">Your Password</label>
                        {{ patient_form.password }}
                        <div class="invalid-feedback">Please, enter your Password and more than 4 chars!</div>
                    </div>
                    <div class="col-12">
                        <label for="{{ patient_form.photo.auto_id }}" class="form-label">Your Photo</label>
                        {{ patient_form.photo }}
                        <div class="invalid-feedback">Please, enter your Photo!</div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    {% if not page == 'register_patient' %}
                    <div class="col-12">
                        <p class="small mb-0">Already have an account? <a href="{% url 'account:login' %}">Log in</a></p>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Are you a doctor? <a href="{% url 'account:register-doctor' 'index' %}">Create as a Doctor</a></p>
                  </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    
  <style>
    ul {
      margin: 0px;
      padding: 0px;
  }
  .footer-section {
    background-image: linear-gradient(90deg, #020024 0%, #046272 35%, #152431 100%);
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #04A7C3;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .google-bg{
    background: #DD4B39;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #04A7C3;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #04A7C3;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: #04A7C3;
      padding: 13px 20px;
      border: 1px solid #04A7C3;
      top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #04A7C3;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #04A7C3;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  </style>
  
    <footer class="footer-section mt--5">
      <div class="container">
          <div class="footer-cta pt-5 pb-5">
              <div class="row">
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="fas fa-map-marker-alt"></i>
                          <div class="cta-text">
                              <h4>Find us</h4>
                              <span>Jimma Ethiopia</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="fas fa-phone"></i>
                          <div class="cta-text">
                              <h4>Call us</h4>
                              <span>0949257378</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-4 mb-30">
                      <div class="single-cta">
                          <i class="far fa-envelope-open"></i>
                          <div class="cta-text">
                              <h4>Mail us</h4>
                              <span>mail@tenalink.et</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-content pt-5 pb-5 ">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                          <div class="footer-logo">
                              <a href="#"><img src="{% static 'land/assets/images/logo-full.svg' %}" class="img-fluid" alt="logo"></a>
                          </div>
                          <div class="footer-text">
                              <p>We're a team of developers and designers united by a passion for innovative solutions. 
                                We believe that security, functionality, and design go hand-in-hand.</p>
                          </div>
                          <div class="footer-social-icon">
                              <span>Follow us</span>
                              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Useful Links</h3>
                          </div>
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="https://ju.edu.et">Jimma University</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Health Minister</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">Better Help</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">Expert Team</a></li>
                              <li><a href="#">Contact us</a></li>
                              <li><a href="#">Latest News</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Subscribe</h3>
                          </div>
                          <div class="footer-text mb-25">
                              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                          </div>
                          <div class="subscribe-form">
                              <form action="#">
                                  <input type="text" placeholder="Email Address">
                                  <button><i class="fab fa-telegram-plane"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyright-area">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2024, All Right Reserved <a href="https://ab4io.vercel.app">ab4io</a></p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                      <div class="footer-menu">
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Terms</a></li>
                              <li><a href="#">Privacy</a></li>
                              <li><a href="#">Policy</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>