{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/email.css'%}">
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello, <strong>{{ name }}</strong></p>
    <p>We have received a request to reset your password. Please use the OTP code below to proceed with the password reset process:</p>
    <p class="otp-code">OTP Code: {{ otp_code }}</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Tenalink Service Team</p>
</body>
</html>